.box {
    width: 700px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px auto;
    transform: translateX(-400px);
    transition: all 1s;
    transform: translateX(400px);
    transition-delay: 100ms;
  }